#if ($teams.isEmpty())
  <p>There are no Teams recorded yet.</p>
#else
<ul>
  #foreach ($team in $teams)
  <li><a href="/teams/$team.getTeamId()">$team.getTeamName()</a></li>
  #end
</ul>
#end

<a href="/teams/new">Add New Team</a>
