<h2> Memeber Name: </h2>
<h2> $member.getMemberName() </h2>

<h2> Job Description: </h2>
<h2> $member.getJob() </h2>


<a class="btn btn-danger" href="/teams/$team.getTeamId()">Back to Team</a>
<a class="btn btn-danger" href="/">Home</a>
