<h1> Team: $team.getTeamName()</h1>

#if ($members.isEmpty())
  <p>There are no Members on this team.</p>
#else
<ul>
  #foreach ($member in $members)
  <li><a href="/teams/$team.getTeamId()/members/$team.getMemberId($member)">$member.getMemberName()</a></li>
  #end
</ul>
#end

<a class="btn btn-danger" href="/teams/$team.getTeamId()/members/new">Add A New Member</a>
<a class="btn btn-danger" href="/">Home</a>
